/* contact.css */

.form-check-label {
    margin-left: 20px; /* Adjust the value as needed */
}




.navbar{
    background-color:cadetblue;
    

}
 .nav-link {
   color:white
}
.navbar-brand {
    color: white
}

.navbar .navbar-nav .nav-link.active {
    color:black; /* Replace with your desired color */
}

.d-flex .btn{
    background-color:black;
    color:white;
  
  
}